.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
    align-items: center;
    justify-content: center;

    position: relative;
    background-color: var(--Background);
    overflow: hidden;
}

.topPattern{
    position: absolute;
    background: url(../images/bg-pattern-top.svg) no-repeat;
    background-size: contain;
    width: 978px;
    height: 978px;
    top: -528px;
    left: 0px;

    z-index: -2;
}
.bottomPattern{
    position: absolute;
    background: url(../images/bg-pattern-bottom.svg) no-repeat;
    background-size: contain;
    width: 978px;
    height: 978px;
    bottom: -528px;
    right: 0px;

    z-index: -1;
}


/* Card stylization */

.card{
    background-color: #fff;
    max-width: 350px;
    position: relative;
    
    margin: 20px;
    border-radius: 16px;
    
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    font-size: var(--TextSize);
    color: var(--TextColor);
}
.card-BgImage{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.profileImage{
    width: 96px;
    border-radius: 50%;
    border: 5px solid #fff;

    position: relative;
    bottom: 52px;
}
.profile{
    position: relative;
    top: -40px;
}
.name{
    font-size: var(--NameAndStats);
    color: var(--Titles);
    line-height: 2;
}
.name span{
    font-weight: 400;
}
.location{
    font-size: var(--TextSize);
    font-weight: 400;
}


/* Card Stats stylization */

.profileStats{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    
    border-top: 1px solid var(--Details);
}
.profileStats .stats dt{
    color: var(--Titles);
    font-size: var(--NameAndStats);
    font-weight: 700;
    line-height: 2;
}
.profileStats .stats dd{
    font-size: 12px;
}


/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a{
    color: bisque;
    text-decoration: none;
}
