.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    background-color: var(--Background);
    overflow: hidden;
}


/* Background Patterns configurations and stylization */

.patterns{
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%;
    
    z-index: -2;
}
.topPattern{
    position: relative;
    background: url(../images/bg-pattern-top.svg) no-repeat right center;
    display: block;
    width: 100%;
    height: 97.8em;
    top: -50%;  
    left: 0;
}
.bottomPattern{
    position: relative;
    background: url(../images/bg-pattern-bottom.svg) no-repeat left center;
    display: block;
    width: 100%;
    height: 97.8em;
    bottom: -50%;
    right: 0;
}


/* Card stylization */

.card{
    background-color: #fff;
    max-width: 35em;
    border-radius: 1.6rem;
    margin: 2rem;
    
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    color: var(--TextColor);
}
.card .cardHeader{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}
.cardBgImage{
    width: 100%;
    border-radius: 1.6rem 1.6rem 0 0;
}
.profileImage{
    max-width: 9.6rem;
    border-radius: 50%;
    border: 5px solid #fff;
    display: block;

    position: absolute;
    bottom: -4.8em;
}
.profile{
    margin-top: 6rem;
    padding-bottom: 30px;
}
.name{
    font-size: var(--NameAndStats);
    color: var(--Titles);
    line-height: 2;
}
.name span{
    font-weight: 400;
}
.location{
    font-size: var(--TextSize);
    font-weight: 400;
}


/* Card Stats stylization */

.profileStats{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    
    border-top: 1px solid var(--Details);
}
.profileStats .stats dt{
    color: var(--Titles);
    font-size: var(--NameAndStats);
    font-weight: 700;
    line-height: 2;
}
.profileStats .stats dd{
    font-size: var(--TextSize);
}


/* Footer */

.attribution {
    font-size: var(--TextSize);
    text-align: center;
    color: white;
}

.attribution a{
    color: bisque;
    text-decoration: none;
}
